@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.opensans {
  font-family: "Open Sans", sans-serif;
}

div.gallery-container {
    display: grid;
    grid-gap: .3%;
    grid-template-columns: 33% 33% 33%;
}

.photo-block {
    text-align: center;
    border: 1px solid gray;
    border-radius: 5%;
}

.photo-title {
    font-size: 140%;
    font-family: Arial;
    text-decoration: underline;
}

.photo-score {
    font-size: 130%;
    font-family: monospace;
}

img.photo-image {
    height: auto;
    width: 100%;
}

.photo-vote-block>img {
    max-height: 40px;
    padding-right: .5em;
    padding-left: .5em;
    cursor: pointer;
}

div.title-block {
    text-align: center;
    background-color: #F1C232;
}

#title {
    font-size: 300%;
    text-decoration: none;
    color: #444444;
    font-family: sans-serif;
    margin-bottom: 0;
}

#subtitle {
    font-size: 120%;
    font-style: italic;
    color: #555555;
    font-family: monospace;
}

h1 {
    text-decoration: underline;
}

.content {
    border: 1px solid #444444;
    color: #222222;
}

p.footer {
    font-style: italic;
}

.button {
    margin: 4px 25px;
    padding: 9px 0px;
    border: 2px solid #555555;
    background-color: #FFFCBD;
    border-radius: 7px;
}

#logo-lsi {
    width: 100px;
    height: auto;
}

#logo-lsi:hover {
    cursor: pointer;
    filter: blur(4px);
}

#errors-container div {
    cursor: pointer;
}

.letra {
    font-family: Arial, Helvetica, sans-serif;
    ;
    font-weight: 700;
}

.usuario {
    margin-top: 3%;
}

.espacio {
    margin-top: 7.5%;
}

.espacio2 {
    margin-left: 120%;
}

.letra2 {
    font-size: xx-large;
}

.img-pequena {
    width: 50px;
    height: 50px;
}

.subirfoto {
    width: 100px;
    height: 100px;
}

.tamañoformulario {
    margin: 0 auto;
    text-align: center;
    width: 40%;
}

.botones {
    margin-bottom: 1.5%;
}

profile-header {
    transform: translateY(5rem);
}

.espaciopequeño {
    margin-top: 3%;
}

.formularioetiqueta {
    width: 20%;
}

.margeniz {
    margin-left: 17.5%;
}

.añadiretiqueta {
    width: 65%;
}

.labelphoto {
    margin-left: 40%;
    width: 20%;
}

.avatar-pic {
    margin-left: 200px;
}

.buscar {
    margin-left: 730px;
}

.card {
    margin-bottom: 20px;
}

.card .card-img-top {
    display: inline-block;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

@media (min-width: 1200px){
.container {
    max-width: 568px !important;
}
}

@media (min-width: 992px){
.container {
    max-width: 568px !important;
}
}

@media (min-width: 768px){
.container {
    max-width: 568px !important;
}
}

.dropbtn {
    background-color: #F1C232;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #F1C232;
  }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    margin: 22%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}